<div id="turmas" v-cloak>
  <div class="container">
      <h1>Turmas</h1>
    <hr/>
    <!--TURMAS EM QUE O USUÁRIO ESTÁ APARECERIAM AQUI-->
    <div class="row">
      <div title="Turmas em que você está" class="col-sm-6">
        <h4>Minhas Turmas</h4>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#modal" href="#">Criar turma</button>
        <!-- Modal -->
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitle">Criar turma</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="turmas" method="POST">
                Nome: <input type="textarea" class="form-control" name="nome"></input><br>
                <input type="hidden" name="admin" value="<%= me.id %>" style="display: none"></input>
                Descrição: <input type="textarea" class="form-control" name="descricao"></input><br>
                Código: <input type="textarea" class="form-control" name="codigo"></input><br>
                <!-- ** LEMBRETE ** 
                Gerar codigo automaticamente -->
                <input type="hidden" name="_csrf" value="<%- _csrf %>" />
                <button type="submit" onclick="" class="btn btn-primary">Save changes</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
    <div class="row">
      <div v-for="turma_own in turmas_own" href="">
        <div @click="selecionada = turma_own" title="Clique para ver detalhes sobre a turma" class="card m-3">
          <div class="card-header bg-success">{{ turma_own.nome }}</div>
          <div class="card-body">{{ turma_own.descricao }}</div>
        </div>
      </div>
      <div v-for="turma in turmas" href="">
        <div @click="selecionada = turma" title="Clique para ver detalhes sobre a turma" class="card m-3">
          <div class="card-header bg-info">{{ turma.nome }}</div>
          <div class="card-body">{{ turma.descricao }}</div>
        </div>
      </div>
    </div>
<!--MOSTRA INFORMAÇÕES SOBRE UMA TURMA SELECIONADA-->
  <div class="row" v-if="selecionada !== '' ">
    <div class="col-sm-6">
        <h3>{{ selecionada.nome }}</h3>
        <!--BOTÕES PARA AÇÕES DE TURMA-->
        <div class="btn-group">
          <button title="Fechar detalhes" @click="selecionada = '' " class="btn btn-sm btn-info">Fechar</button>
          <button title="Adicionar participante" class="btn btn-sm btn-primary">Adicionar</button>
          <button title="Remover participante" class="btn btn-sm btn-success">Remover</button>
          <button title="Excluir turma" v-if="selecionada.admin === <%= me.id %>"
                  type="submit" form="excluir" class="btn btn-sm btn-danger">Excluir</button>
        </div>
        <!--FORMS PARA AÇÕES DE TURMA-->
        <form method="post" action="turmas/excluir" id="excluir">
            <input type="hidden" name="turmaid" :value="selecionada.id">
            <input type="hidden" name="_csrf" value="<%- _csrf %>" />
        </form>
      
        <div>{{ selecionada.descricao }}</div>
    </div>
  </div>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

  <!--
•- views/pages/turmas.ejs
 •- api/controllers/view-turmas.js
 •- assets/styles/pages/turmas.less
 •- assets/js/pages/turmas.page.js

  <p>(See also <em>assets/styles/pages/turmas.less</em>, <em>assets/js/pages/turmas.page.js</em>, and <em>api/controllers/view-turmas.js</em>.)</p>

-->