<div id="turmas" v-cloak>
  <div class="container">
      <h1>Turmas</h1>
    <hr/>
    <!--TURMAS EM QUE O USUÁRIO ESTÁ APARECERIAM AQUI-->
    <div class="row">
      <div title="Turmas em que você está" class="col-sm-6">
        <h4>Minhas Turmas</h4>
        <div v-if="visivel">
          <form action="turma" method="post">
            <input type="hidden" name="admin" value="<%= me.id %>">
            <!--TO-DO:<input type="text" name="participantes">-->
            <!--TO-DO<input type="text" name="games">-->
            Nome:<input type="text" name="nome"><br><br>
            Descrição:<br><textarea name="descricao" placeholder="Ex: Turma do 6º ano do professor José"></textarea><br>
            <input type="hidden" name="codigo" value="1"><!--TESTE-->
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <input type="submit" value="Criar">
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <a class="btn btn-sm btn-outline-info account-settings-button" 
           @click="visibilidade()">{{buttontext}}</a>
      </div>
    </div>
    <div class="row">
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
    </div>
  </div>
  <!--ADICIONA O USUÁRIO A TURMA (TESTE)-->
  <form action="addturma" method="post">
    userid: <input type="text" name="userid"><br>
    turmaid:<input type="text" name="turmaid"><br>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <!--^NECESSARIO PARA EVITAR Forbidden, TAMBÉM PRECISA DE REDIRECIONAMENTO NO CONTROLLER PARA EVITAR BUGS-->
    <input type="submit" value="submit">
  </form>
  <br>
  <!--REMOVE O USUÁRIO DE TURMA (TESTE)-->
  <form action="rmturma" method="post">
    userid: <input type="text" name="userid"><br>
    turmaid:<input type="text" name="turmaid"><br>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <!--^NECESSARIO PARA EVITAR Forbidden, TAMBÉM PRECISA DE REDIRECIONAMENTO NO CONTROLLER PARA EVITAR BUGS-->
    <input type="submit" value="submit">
  </form>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

  <!--
•- views/pages/turmas.ejs
 •- api/controllers/view-turmas.js
 •- assets/styles/pages/turmas.less
 •- assets/js/pages/turmas.page.js

<h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/turmas.less</em>, <em>assets/js/pages/turmas.page.js</em>, and <em>api/controllers/view-turmas.js</em>.)</p>

-->